.container {
    display: flex;
}

.img {
    background-size: cover;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    position: relative !important;
    margin-right: 2vh;
}

.info {
    position: relative !important;
    line-height: 3vh;
    padding-top: 1vh;
}

.info > * {
    margin: 0;
}