.header {
    width: 100vw;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    color: whitesmoke;
}

.artist {
    width: 75vw;
    margin-right: auto;
    font-size: 0.7em;
    padding-left: 2vw;
}