.footer {
    z-index: 10;
    width: 100vw;
    height: 33vh;
    top: 67vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    color: whitesmoke;
    justify-content:  space-between;
    padding: 0 2vw;
}

h1 {
    color: whitesmoke;
}

.list {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
}

.list > * {
    flex-basis: 20vw;
}

.qr {
    background-image: url(chayns.createQRCode('https://pizzaaa.chayns.net/ChaynsSeiten'));
    width: 50px;
    height: 50px;
}
