.footer {
    // border: solid yellow 5px;
    z-index: 10;
    width: 100vw;
    height: 19vw;
    top: 210px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    color: whitesmoke;
    justify-content:  space-between;
}

h1 {
    color: whitesmoke;
}

.list {
    display: flex;
    flex-wrap: wrap;
}
